.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem 0rem;
}

.pageTitle {
    padding-bottom: 1rem;
    margin-bottom: 4rem;
}

.pageTitle h1 {
    font-size: 5rem;
    font-weight: 400;
}

.pageTitle h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

.pageTitle {
    border-bottom: 1px solid hsl(var(--text-color));
}

@media (max-width: 640px) {
    .pageTitle h1 {
        font-size: 4rem;
    }

    .pageTitle {
        margin: 1rem 0rem;
    }
}


.hide {
    display: none;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}