{{ define "main" }}
    {{ $homeHeader__style := resources.Get "css/homepage/homeHeader.css" | resources.Minify | resources.Fingerprint }}
    {{ $button__style := resources.Get "css/button.css" | resources.Minify | resources.Fingerprint }}
    <style>{{ $homeHeader__style.Content | safeCSS }}</style>
    <div id="scrollingText" class="scrollingText"><span id="scrollingText__text">It's great to be here today I would like to thank my family — especially my mum.
            It's an absolute pleasure to be situated on your computer here today. Thank you dearly for this grand
            opportunity. You know, sometimes people just don't thank their users enough. So here: thank you. You are my
            hero and everything I aspire to be. If I could say one thing to my users what would it be? Thanks. So there
            you have it! Thank <b>you</b></span></div>
    <div id="scrollTrigger"></div>
    <section>
        <div class="container homeHeader">
            <div class="homeHeader__text">
                <h1>Hello <span>welcome</span> to the website</h1>
                <h2>What is a website</h2>
            </div>
            <div class="homeHeader__feature" id="feature">
                <svg id="svgcontainer" preserveAspectRatio="none" fill="none" viewBox="0 0 1036 1033" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m511.5 1c-85.167 6.6667-245.2 32.3-204 81.5 51.5 61.5 481.5-60 598.5 21.5s-779 26-888 67.5 353 190 493.5 146.5 462-21 458 46-977 55.5-882 99 771 63.5 818.5 99-937.5 0-832.5 164.5 832 57.5 864 0-362 20-461.5 0 234-83 323-87 227.5 17.5 235.5 63-194.5 232.5-269.5 252c-60 15.6-217.67 58.17-289 77.5"
                        id="line" stroke="hsl(var(--text-color))" stroke-width="2" />
                </svg>
                <div class="homeHeader__feature__guy--1 homeHeader__feature__guy reveal">
                    <svg class="hide" xmlns="http://www.w3.org/2000/svg">
                        <symbol id="guy" fill="none" stroke="hsl(var(--text-color))" viewBox="0 0 32 32">
                            <g stroke-linejoin="round">
                                <circle cx="16" cy="9" r="5" stroke-width=".833" paint-order="fill markers stroke" />
                                <path d="m16 14v10" paint-order="fill markers stroke" />
                                <path d="m8 19h16m-8 5-8 8m8-8 8 8" paint-order="fill markers stroke" />
                            </g>
                            <g stroke-linejoin="round" stroke-width=".5">
                                <circle cx="14.75" cy="7" r=".25" paint-order="fill markers stroke" />
                                <circle cx="16.75" cy="7" r=".25" paint-order="fill markers stroke" />
                            </g>
                            <path d="m13 9s0 2 3 2 3-2 3-2" stroke-linejoin="bevel" paint-order="fill markers stroke" />
                        </symbol>
                    </svg>
                    <svg><use href="#guy" /></svg>
                    Hello my name is william bradshaw
                </div>
                <div class="homeHeader__feature__guy--2 homeHeader__feature__guy reveal">
                    <svg><use href="#guy"/></svg>
                    I like the web
                </div>
                <div class="homeHeader__feature__guy--3 homeHeader__feature__guy reveal">
                    <svg><use href="#guy" /></svg>
                    Especially CSS
                </div>
                <div class="homeHeader__feature__guy--4 homeHeader__feature__guy reveal">
                    <svg class="hide">
                        <symbol id="guy-neutral" viewBox="0 0 32 32" fill="none" stroke="hsl(var(--text-color))">
                            <g stroke-linejoin="round">
                                <circle cx="16" cy="9" r="5" stroke-width=".83" paint-order="fill markers stroke"/>
                                <path d="m16 14v10" paint-order="fill markers stroke"/>
                                <path d="m8 19h16m-8 5-8 8m8-8 8 8" paint-order="fill markers stroke"/>
                            </g>
                            <g stroke-linejoin="round" stroke-width=".5">
                                <circle cx="15" cy="7" r=".25" paint-order="fill markers stroke"/>
                                <circle cx="17" cy="7" r=".25" paint-order="fill markers stroke"/>
                            </g>
                            <path d="M13 11l4.6.07" stroke-linejoin="bevel" paint-order="fill markers stroke"/>
                        </symbol>
                    </svg>
                    <svg><use href="#guy-neutral"/></svg>
                    Thats enough fun stuff though...
                </div>
                <div class="homeHeader__feature__guy--5 homeHeader__feature__guy reveal">
                    <svg><use href="#guy-neutral"/></svg>
                    Let's get down to business.
                </div>
                <div class="homeHeader__feature__guy--6 homeHeader__feature__guy reveal">
                    <svg><use href="#guy-neutral"/></svg>
                    I have a secret...
                </div>
                <div class="homeHeader__feature__guy--7 homeHeader__feature__guy reveal">
                    <svg><use href="#guy"/></svg>
                    ...It's my blog...
                </div>
                {{ $homeHeader__script := resources.Get "js/homepage/homeHeader.js" | js.Build | resources.Minify | resources.Fingerprint }}
                <script defer src="{{ $homeHeader__script.Permalink }}"></script>
            </div>
            <link rel="stylesheet" href="{{ $button__style.Permalink }}">
            <button class="button button--primary" href="">Check out my blog!</button>
        </div>
    </section>
{{ end }}